body {
	font-family: 'Raleway', sans-serif;
    margin-left: 25px;
    margin-right: 38.5px;

}

main {
    display: flex;
	
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding-top: 27.5px;

}

nav ul {
    display: flex;

}

nav li  {
    list-style-type: none;
    padding-left: 69px;
    font-weight: normal;
}

/* /HEADER */


                    /* BARRE DE RECHERCHE */
#headerSearch {
    display: flex;
    flex-direction: column;
    padding-top: 26px;
}

#title_headerSearch p {
    margin-top: -15px;
    margin-bottom: 23px;
}

#title_headerSearch, h2 {
    font-size: 1.2em;
}

#barSearch {
    display: flex;
    width: 420px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    margin-bottom: 30px;
}
#iconeGPS {
    display: flex;
    background-color: #F2F2F2;
    height: 50px;
    width: 50px;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
}

#iconeGPS i {
    font-size: 1.2em;
    margin: auto;
}

#city_search::placeholder {
    font-weight: bold;
    color: black;
    font-size: 1.3em;
    padding-left: 17px;

}

#city_search {
    width: 234px;
    height: 50px;
    border-color: #F2F2F2;
    border-style: solid;
}

#btnSearch button {
    font-weight: bold;
    font-size: 1em;
    color: white;
    height: 50px;
    width: 134px;
    background-color: #0065fc;
    border-style: solid;
    border-color: transparent;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}





#filterSearch {

}

.buttonFilter{

}

.iconeFilter {

}

.filterName {

}























                            /* SECTION HEBERGEMENTS */






#accomodations {
    background-color: #F2F2F2;        
    border-radius: 2%;                  /*  LE CARRE GRIS */
    width: 880px; 
    height: 600px;
}

#accomodations h2 {
    margin-left: 2.2em;
    font-size: 1.2em;                   /*  TITRE DU CARRE GRIS */
    padding-top: 20px;
}



#content {
    margin-top: -27px;
    display: flex;           
    flex-wrap: wrap;                    /* BLOC ENTIER HEBERGEMENT */
    padding-left: 40px;
    padding-bottom: 0.7em;
}

.blockContent {
    width: 235px;
    height: 200px;
    border-radius: 10%;                 /* SELF BLOC HEBERGEMENT */
    background-color: white;
    margin-right: 30px;
    margin-top: 30px;
}

.imgContent {
    width: 225px;
    height: 113px;                      /* BLOC DES IMAGES */  
    margin: auto; 
    margin-top: -14px;
}

.imgAccomodation {
    object-fit: cover;
    border-top-left-radius: 10%;        /* IMAGES */
    border-top-right-radius: 10%;
    width: 100%;
    height: 100%;    
}

.footerContent {
    line-height: 11px;
    padding-bottom: 15px;               /* FOOTER BLOC HEBERGEMENT */
    width: 235px;
    height: 79px;
}


#moreContent a {
    color: black;
    font-size: 1em;                 /* <P> AFFICHER PLUS */
    font-weight: bold;
    padding-left: 43px;
    margin-top: 49px; 
}


.nameAccomodation {
    font-size: 0.9em;               /* NOMS HEBERGEMENT */
    color: black;
}

.nameAccomodation, a {
    text-decoration: none;          /* STYLE NOMS HEBERGEMENT */
    padding-left: 16px;
}

.priceAccomodation {
    font-size: 0.8em;
    color: black;               /*  PRIX HEBERGEMENT */
    padding-left: 16px;

}

.stars {
    color: #0065fc; 
    font-size: 0.7em;           /* ETOILE NOTE HEBERGEMENT */
    padding-left: 16px;

}





                        /* ASSIDE HEBERGEMENT POPULAIRE */





#contentAsside {
    background-color: #F2F2F2;
    border-radius: 2%;
    height: 600px;                     /* CARRE GRIS ASSIDE HEBERGEMENT POPULAIRE */
    width: 300px;
    border: solid black;
    margin-left: 40px;

}

#titleAsside {
    display: flex;           /* AGENCEMENT TITRE ASSIDE */   
}
#titleAsside h2 {
    margin-left: 1em;
    font-size: 1.2em;       /* TITRE ASSIDE */
    padding-top: 20px;
}

#titleAsside i {
    font-size: 1.2em;
    margin: auto;           /* ICONE TITRE ASSIDE */
    padding-top: 20px;

}

#contentAccomodationsAsside {
        
                                        /* BLOC ASSIDE ENTIER HEBERGEMENT POPULAIRE */

}

.blockAsside {
    width: 260px;
    height: 103px;
    border-radius: 10%;
    background-color: white;            /* SELF BLOC HEBERGEMENT POPULAIRE */
    margin: auto;
    margin-left: 1em;

}

.imgAsside {
    width: 113px;
    height: 170px;                      /* BLOC IMAGE HEBERGEMENT POPULAIRE */
    margin-top: -14px;
    margin-left: 4px;
}

.imgAccomodationAsside {
    object-fit: cover;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;         /* IMAGE HEBERGEMENT POPULAIRE */
    width: 100%;
    height: 100%;    
}

.footerContentAsside {
    line-height: 11px;
    padding-bottom: 15px;                   /* FOOTER BLOC HEBERGEMENT POPULAIRE */
    width: 235px;
    height: 79px;
}



