body {
	font-family: 'Raleway', sans-serif;  
}

h1, h2 {
    color: black; 
    font-size: 1.4em;
}

h3 {
    font-size: 0.92em;               
    color: black;
}

p {
    color: black; 
    font-size: 1.12em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 3% 3% 0% 3%;
}

.row {
    display: flex;
    width: 100%;
}

#col_logo {
    width: 70%;
    margin-bottom: 3.625em;
}


#col_ancres {
    width: 20%;
}
#col_ancres nav {
    display: flex;
    justify-content: space-between;
}
#col_ancres a {
    text-decoration: none;
}
#col_ancres a:hover {
    color: #0065fc;
    text-decoration: none;
}


#col_register {
    width: 10%;
}
#col_register nav {
    display: flex;
    justify-content: flex-end;
}
#col_register a {
    color: #0065fc;
    font-weight: bold;
    text-decoration: none;
}

#title_headerSearch h1 {
    margin: 0;
}

#iconeGPS {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 4%;
    font-size: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#city_search {
    width: 19%;
    border: solid #F2F2F2 1px;
    outline: none;
    font-size: 1.1em;
    color: black;
    font-weight: bold;
    padding: 0.7em 0% 0.7em 2%;
}

#city_search::placeholder {
    font-weight: bold;
    color: black;
}

::placeholder {
    opacity: 1;
    transition: opacity .5s;  
} 

*:focus::placeholder { 
    opacity: 0; 
} 

#btnSearch {
    background-color: #0065fc;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    width: 10%;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

#filterSearch {
    width: 65%;
}

#title_filtersBar {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

#filterSearch ul {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

#filterSearch li {
    display: flex;
    align-items: center;
    border: solid #d9d9d9 0.1em;
    border-left: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 5em;
    padding-right: 1.375em;
}

.iconeFilter{
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    padding: 1em;
    margin-right: 0.75em;
}

#filterSearch li:hover {
    background-color: #DEEBFF;
}

#headerInfo {
    display: flex;
    align-items: center;
    font-size: 0.9em
}

.iconeInfo {
    color: #0065fc;
    background-color: white;
    border: solid #F2F2F2 2px;
    border-radius: 50%;
    padding: 0.5em 0.8em 0.5em 0.8em;
    margin-right: 1em;
    font-size: 0.8em;
}


#containerMarseille {
    margin-top: 1em;
    background-color: #F2F2F2;
    width: 67%;
    margin-right: 3%;
    border-radius: 1.5em;
}
#containerMarseille h2 {
    margin-top: 2.5em;
    margin-left: 5%;
    font-size: 1.2em;
}

#containerAsside {
    margin-top: 1em;
    background-color: #F2F2F2;
    width: 33%;
    border-radius: 1.5em;
}

#container_accomodations {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0% 5% 0% 5%;
}

.accomodation {
    background-color: white;
    padding: 0.281em 0.281em 0em 0.281em;
    width: 30%;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

.container_imgAccomodation {
    border: solid red;
    min-height: 7.125em;
    margin-bottom: 0.688em;
}

.imgAccomodation {
    object-fit: cover;
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em; 
}

.footerAccomodation {
    margin-left: 5%;
    margin-bottom: 3%;
}

.stars {
    margin: 0;
    color: #0065fc; 
    font-size: 0.7em;
}

.priceAccomodation {
    margin: 0;
    margin: 0.688em 0em 0.688em 0em;
    font-size: 0.8em;
    color: black; 
}

.nameAccomodation {
    margin: 0;
}


/*  
#container_accomodations {
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
}

.accomodation {
    background-color: white;
    margin-bottom: 4%;
    padding: 0.2em 0.2em 0em 0.2em;
    width: 30%;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

.imgAccomodation {
    border: solid red;
    width: 100%;
    
}

.stars {
    margin: 0;
    color: #0065fc; 
    font-size: 0.7em;
}

.priceAccomodation {
    margin: 0;
    font-size: 0.8em;
    color: black; 
}

.nameAccomodation {
    margin: 0;
}

/*  








/*  
.container_imgAccomodation {
}

.imgAccomodation {
    object-fit: cover;
    border-top-left-radius: 1em;        
    border-top-right-radius: 1em;
    width: 100%;
}

.container_footerAccomodation { 
    display: flex;
    justify-content: center;
}

.footerAccomodation {
    width: 92%;
}


#linkMore {
    color: black;
    font-weight: bold;
    margin-bottom: 2em;
}



/*  




/* HEBERGEMENTS 
#container_blockAccomodations_blockAsside {
    display: flex;
    justify-content: space-between;
}
  
#container_blockAccomodations {
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 1em;   
    width: 67%;
    padding-top: 1.5em;
}

#blockAccomodations {
    width: 90%;
}

#container_accomodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 26em;
    margin-bottom: 2em;
}

.accomodation {
    background-color: white;
    padding: 0.2em 0.2em 0em 0.2em;
    width: 30%;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

.container_imgAccomodation {
    height: 7.125em;
}

.imgAccomodation {
    object-fit: cover;
    border-top-left-radius: 1em;        
    border-top-right-radius: 1em;
    width: 100%;
    height: 100%;
}

.container_footerAccomodation { 
    display: flex;
    justify-content: center;
}

.footerAccomodation {
    width: 92%;
}


#linkMore {
    color: black;
    font-weight: bold;
    margin-bottom: 2em;
}
/* CLOSE HEBERGEMENTS */



/* BLOCS ASSIDE HEBERGEMENTS 
#container_blockAsside {
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 1em;
    padding-top: 1.5em;
}

#blockAsside {
    width: 80%;
}

#titleAsside {
    display: flex;
    justify-content: space-between;
}

#titleAsside i {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

#container_block_accomodationAsside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 31.125em;
    margin-bottom: 2.125em;
}

.block_accomodationAsside {
    background-color: white;
    width: 100%;
    border-radius: 1em;  
    padding: 0.2em 0em 0.2em 0.2em;
    box-shadow: 1px 1px 10px 1px #ccc;
}

.container_Asside {
    display: flex;
}

.container_imgAsside {
    width: 37%;
    height: 8.375em;
}

.imgAsside {
    object-fit: cover;
    border-top-left-radius: 1em;        
    border-bottom-left-radius: 1em;
    width: 100%;
    height: 100%;
}

.container_footerAsside {
    display: flex;
    justify-content: center;
    width: 60%;
}

.footerAsside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%; 
    height: 98%;
}

.footerAsside .stars {
    display: flex;
}

/* CLOSE BLOCS ASSIDE HEBERGEMENTS 

#activity {
    margin-top: 4.125em;
}

#titleActivity {
    margin-bottom: 1.688em;
}

#container_activityLR {

    display: flex;
    justify-content: space-between;
    height: 27.75em;
}

#activityAssideLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}

#activityAssideRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}

.activity_XL {
    width: 22%;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 1em;
}

.container_imgXL{
    height: 24.813em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.imgXL {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em
}

.activity_L {
    width: 100%;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 1em;
}

.container_imgL{
    height: 11.25em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.imgL {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em
}

.activity_M {
    width: 100%;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 1em;
}

.container_imgM{
    height: 6.813em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.imgM {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em
}

.footerActivity {
    margin-left: 1.25em;
}



footer {
    display: flex;
    justify-content: center;
    padding: 3.438em 0em 3.438em 0em;
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 3.813em;
}

#info_footer {
    display: flex;
    width: 95%;
}

#container_colonneFooter {
    display: flex;
    justify-content: space-between;
    width: 78%;
}

.colonne_footer a {
    display: flex;
    color: black; 
    line-height: 1.8em;
}

.colonne_footer a:hover {
    color: #0065fc;
}