body {
	font-family: 'Raleway', sans-serif;  
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: black; 
    font-size: 1.2em;
}

h3 {
    font-size: 0.92em;               
    color: black;
}

p {
    color: black; 
    font-size: 1.12em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 3% 3% 0% 3%;
}

.row {
    display: flex;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
}

#col_logo {
    width: 70%;
    margin-bottom: 2.625em;
}


#col_ancres {
    width: 20%;
}
#col_ancres nav {
    display: flex;
    justify-content: space-between;
}
#col_ancres a {
    text-decoration: none;
}
#col_ancres a:hover {
    color: #0065fc;
    text-decoration: none;
}


#col_register {
    width: 10%;
}
#col_register nav {
    display: flex;
    justify-content: flex-end;
}
#col_register a {
    color: #0065fc;
    font-weight: bold;
    text-decoration: none;
}

#title_headerSearch h1 {
    margin: 0;
}

#iconeGPS {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 4%;
    font-size: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#city_search {
    width: 19%;
    border: solid #F2F2F2 1px;
    outline: none;
    font-size: 1.1em;
    color: black;
    font-weight: bold;
    padding: 0.7em 0% 0.7em 2%;
}

#city_search::placeholder {
    font-weight: bold;
    color: black;
}

::placeholder {
    opacity: 1;
    transition: opacity .5s;  
} 

*:focus::placeholder { 
    opacity: 0; 
} 

#btnSearch {
    background-color: #0065fc;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    width: 10%;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

#filterSearch {
    width: 70%;
}

#title_filtersBar {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
}

#filterSearch ul {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

#filterSearch li {
    display: flex;
    align-items: center;
    border: solid #d9d9d9 0.1em;
    border-left: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 5em;
    padding-right: 1.375em;
}

.iconeFilter{
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    padding: 1em;
    margin-right: 0.75em;
}

#filterSearch li:hover {
    background-color: #DEEBFF;
}

#headerInfo {
    display: flex;
    align-items: center;
    font-size: 0.9em
}

.iconeInfo {
    color: #0065fc;
    background-color: white;
    border: solid #F2F2F2 2px;
    border-radius: 50%;
    padding: 0.5em 0.8em 0.5em 0.8em;
    margin-right: 1em;
    font-size: 0.8em;
}


#containerMarseille {
    margin-top: 1em;
    margin-right: 3%;
    background-color: #F2F2F2;
    width: 70%;
    border-radius: 1.5em;
}
#containerMarseille h2 {
    margin: 2.5em 0 1em 4%;
}


#container_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
}

.card {
    width: 30%;
    margin-bottom: 3%;
    border: solid white 4px;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

.img_cards {
    object-fit: cover;
    width: 100%; 
    height: 100%;
    max-height:113px;   
    margin-bottom: 0.288em;
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em; 
}

.footer_cards {
    margin-left: 5%;
}

#linkMore {
    width: 100%;
    color: black;
    font-weight: bold;
    margin: 1em 4% 0 4%;
}


.nameCards {
    margin: 0;
}

.priceCards {
    margin: 0;
    margin: 0.688em 0em 0.688em 0em;
    font-size: 0.8em;
    color: black; 
}

.stars {
    margin: 0;
    margin-bottom: 0.688em;
    color: #0065fc; 
    font-size: 0.7em;
}

#containerAsside {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 1em;
    background-color: #F2F2F2;
    border-radius: 1.5em;
}

#titleAsside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 3em 10% 1.2em 8%;
}

#titleAsside h2 {
    font-size: 1.2em;
    margin: 0;
}

#titleAsside i {
    font-size: 1.4em;
}

#container_cardsAsside {
    display: flex;
    flex-direction: column;
    margin: 0 10% 0 8%;
    width: 100%;
}

.cardsAsside {
    width: 100%;
    background-color: white;
    border-radius: 1em;  
    border: solid white 4px;
    box-shadow: 1px 1px 10px 1px #ccc;
    margin-bottom: 2em;
}

.container_cards {
    display: flex;
}

.img_asside {
    width: 35%;
    max-height: 134px;
    min-height: 134px;
}

.img_asside img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 1em; 
    border-bottom-left-radius: 1em;
}

.container_footerAsside {
    display: flex;
    justify-content: center;
    width: 60%;
}

.footerAsside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1em;
    padding-bottom: 0.5em;
    width: 80%; 
}

.footerAsside .stars {
    display: flex;
}

#containerActivity {
    border: solid red 1px;
    display: flex;
}

.nameActivity {
    margin-left: 5%;
}

#activity h2 {
    margin-top: 3em;
}

.cardsxl {
    width: 90%;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
    margin-bottom: 2.75em;
}

.imgxl {
    width: 100%; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em; 
}


#card_pomegues {
    width: 90%;
    margin-bottom: 1.7em;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

#img_pomegues {
    width: 100%; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em;
}

#card_frioul {
    width: 90%;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

#img_frioul {
    object-fit: cover;
    width: 100%; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em;
}

#card_notreDame {
    width: 90%;
    margin-bottom: 1.7em;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

#img_notreDame {
    object-fit: cover;
    width: 100%; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em;
}

#card_longchamp {
    width: 90%;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

#img_longchamp {
    object-fit: cover;
    width: 100%; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em;
}















/*  
#container_activity {
    width: 100%;
}

.nameActivity {
    margin-left: 5%;
}

#container_activity h2 {
    margin-top: 3em;
}

.cardsxl {
    width: 100%;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
    margin-bottom: 2.75em;
}

.imgxl {
    width: 100%; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em; 
}


#card_pomegues {
    width: 100%;
    margin-bottom: 1.7em;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

#img_pomegues {
    width: 100%; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em;
}

#card_frioul {
    width: 100%;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

#img_frioul {
    object-fit: cover;
    width: 100%; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em;
}

#card_notreDame {
    width: 100%;
    margin-bottom: 1.7em;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

#img_notreDame {
    object-fit: cover;
    width: 100%; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em;
}

#card_longchamp {
    width: 100%;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

#img_longchamp {
    object-fit: cover;
    width: 100%; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em;
}


/*  
#container_activity {
    width: 100%;
}

#container_activity h2 {
    width: 100%;
    margin-top: 3em;
}

#activity {
    border: solid red 1px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#col_left {
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    width: 48%;
}

.card_xl {
    border: solid green 1px;
    width: 45%;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 1px 1px 10px 1px #ccc;
}

.img_activity {
    object-fit: cover;
    width: 100%; 
    margin-bottom: 0.288em;
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em;
}

 
#col_right {
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    width: 48%;
}
