                                   
body { font-family: 'Raleway', sans-serif; margin: 0;}                      
.row { display: flex; width: 100%;}
li { list-style-type: none;}
a { color: black; text-decoration: none;}




/* HEADER */ 
    .row_header {
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2em;}

    #container_logo {
        order: 1;
        margin-left: 1em;}

    #container_register {
        order: 2;
        display: flex;
        align-items: center;
        margin-right: 1em;}

    #container_register a {
        font-weight: bold; 
        color: #0065fc;}

    #container_ancres {
        width: 100%;
        order: 3;
        margin-top: 1em;}

    #container_ancres ul {
        display: flex;
        padding: 0;
        margin: 0;}

    .ancres {
        text-align: center;
        width: 50%;
        padding-bottom: 1em;
        border-bottom: solid 2px #f2f2f2;}

    .ancres:active {
        border-bottom: solid 2px #0065fc;}

    .ancres:hover {
        border-bottom: solid 2px #0065fc;}
/* HEADER */


/* SECTION SEARCH */
    #sectionSearch {
        margin: 1.25em;}

    #title_sectionSearch h1 {
        font-size: 1.4em;}

    #title_sectionSearch p {
    font-size: 1.1em;}


    /* SEARCH BAR */
        .row_searchBar {
            display: flex;
            width: 100%;
            margin-bottom: 2em;
            margin-top: 1em;}

        #iconeGPS {
            display: flex; 
            justify-content: center; 
            align-items: center;
            background-color: #f2f2f2;
            width: 10%;
            border-top-left-radius: 1em; 
            border-bottom-left-radius: 1em;
            padding: 0.8em;}

        #searchBar {
            width: 70%; 
            border: solid #F2F2F2 1px; 
            outline: none;
            border-right: none;
            color: black; 
            font-weight: bold; 
            font-size: 1em;
            padding: 1em;}

        #searchBar::placeholder { 
            font-weight: bold; 
            color: black;
            width: 100%;}

        ::placeholder { 
            opacity: 1; 
            transition: opacity .5s;} 

        *:focus::placeholder { 
            opacity: 0;} 

        #inputSearch {
            width: 15%;
            border-radius: 1em;
            background-color: #0065fc;}

        #iconeSearch {
            color: white;}

        #wordSearch {
        display: none;}
    /* SEARCH BAR */


    /* FILTERS BAR */
        .row_filtersBar {
            display: flex;
            flex-direction: column;}

        #title_filtersBar {
            width: 100%;
            color: black;
            font-weight: bold;
            font-size: 1.2em;}

        #filters ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;}

        #filters li { 
            display: flex; 
            align-items: center; 
            border: solid #d9d9d9 2px;
            border-left: none; 
            font-weight: bold; 
            outline: none; 
            cursor: pointer;
            border-radius: 5em;
            padding-right: 1em;
            margin-bottom: 0.801em;}

        #filters span {
            padding-left: 0.719em;}

        .iconeFilter{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #0065fc; 
            background-color: #deebff; 
            border-radius: 5em; 
            padding: 1em;}

        #filters li:hover { 
            background-color: #DEEBFF;}
    /* FILTERS BAR */

  
    #headerInfo { 
        display: flex; 
        align-items: center; 
        font-size: 0.9em;}

    .iconeInfo {
        color: #0065fc; 
        background-color: white; 
        border: solid #F2F2F2 2px;
        border-radius: 50%; 
        padding: 0.5em 0.8em 0.5em 0.8em; 
        margin-right: 1em; 
        font-size: 0.8em;}

    #headerInfo p {
        font-size: 1.1em;}
/* SECTION SEARCH */


/* SECTION ACCOMATIONS */
    /* HEBERGEMENTS POPULAIRE */
        .row_accomodations {
            display: flex;
            flex-direction: column;}

        #container_popular {
            order: 1;
            background-color: #F2F2F2;
            padding: 1.25em 1.25em 0em 1.25em;
            padding-bottom: 2em; }

        .row_titlePopular {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.9em;}

        .row_titlePopular i {
            font-size: 1.5em;}

        .cardsPopular {
        display: flex;
        padding: 0.3em 0em 0.3em 0.3em;
        background-color: white;
        border-radius: 1em;  
        box-shadow: 1px 1px 10px 1px #ccc;
        margin-top: 1em;}

        .imgPopular {
            min-width: 37%;
            max-width: 37%;}

        .imgPopular img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            border-top-left-radius: 1em;
            border-bottom-left-radius: 1em;
            min-height: 134px;
            max-height: 134px;}

        .footerPopular {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 1.344em;}
    /* HEBERGEMENTS POPULAIRE */


    /* HEBERGEMENTS MARSEILLE */
        #container_marseille {
            order: 2;
            padding: 1.25em 1.25em 2em 1.25em;}

        .row_title_marseille {
            font-size: 0.9em;}

        .cards {
        width: 100%;
        background-color: white;
        border-radius: 1em;  
        box-shadow: 1px 1px 10px 1px #ccc;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        padding:  0.3em 0.3em 0em 0.3em;}

        .imgCards img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            min-height: 114px;
            max-height: 114px;}

        .footer_cards {
            margin: 0.5em 0em 0.7em 1em;}  

        .nameCards {
            margin: 0;}

        .priceCards {
            margin: 0.5em 0em 0.5em 0em;
            color: black; }

        .stars {
        margin: 0;
        color: #0065fc; 
        font-size: 0.7em;}
    /* HEBERGEMENT MARSEILLE */
 #linkMore {
    width: 100%;
    color: black;
    font-weight: bold;
    margin-top: 1.5em;
    font-size: 1.2em;}
/* SECTION ACCOMATIONS */


/* SECTION ACTIVITES */
    #activity {
    padding: 0em 1.25em 2em 1.25em;} 

    .row_title_activity {
        font-size: 0.9em;
        margin-bottom: 2em;}

    .cardActivity {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px 1px #ccc;
    border-radius: 1em;  
    margin-top: 1.469em;}   

    .imgActivity {
        max-height: 133px;}

    .imgActivity img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        max-height: 133px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;}

    .nameActivity {
        margin: 0;
        padding: 0.9em;}

/* SECTION ACTIVITES */


/* FOOTER */
    footer {
    background-color: #F2F2F2; }

    .row_footer {
    display: flex;
    flex-direction: column;
    padding: 2em 0em 3em 1.8em;}

    .titleFooter {
    margin-bottom: 0.5em;}
/* FOOTER */




/* TABLETTE */
@media screen and (min-width:576px) and (max-width: 1024px) {
  
/* HEADER */    
    #container_logo {
        margin-left: 4em;}

    #container_register {
        margin-right: 4em;}
/* HEADER */


/* SECTION SEARCH */
    #sectionSearch {
        margin: 2em;}

    .row_title {
        display: flex;
        justify-content: center;
        text-align: center;}

    #title_sectionSearch h1 {
        font-size: 2em;}

    #title_sectionSearch p {
        font-size: 1.7em;}


    /* SEARCH BAR */
        .row_searchBar {
            justify-content: center;
            margin-top: 2em;}

        #iconeGPS {
            width: 7%;}

        #searchBar {
            width: 40%;}

        #inputSearch {
            width: 10%;}

        #iconeSearch {
            color: white;}

        #wordSearch {
        display: none;}
    /* SEARCH BAR */


    /* FILTERS BAR */
        .row_filtersBar {
        width: 80%;}
    /* FILTERS BAR */
/* SECTION SEARCH */


/* SECTION ACCOMATIONS */
    /* HEBERGEMENTS POPULAIRE */
        #container_blockPopular {
            display: flex;
            flex-direction: column;
            align-items: center;}
            
        .row_titlePopular {
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 1.2em;}

        .row_titlePopular i {
            font-size: 1.5em;}

        .container_cardsPopular { 
        width: 70%;
        margin-top: 1em;}

        #imgPopular_1 {
            background-image: url(/images/hebergements/3_medium/Hôtel_Le_soleil_du_matin.jpg);} 

        #imgPopular_2 {
            background-image: url(/images/hebergements/3_medium/Au_coeur_de_l_eau_Chambres_d_hôtes.jpg);}

        #imgPopular_3 {
        background-image: url(/images/hebergements/3_medium/Hôtel_Tout_bleu_et_Blanc.jpg);}
    /* HEBERGEMENTS POPULAIRE */


    /* HEBERGEMENTS MARSEILLE */
        .row_title_marseille {
            text-align: center;
            font-size: 1.2em;}

        #container_blockMarseille {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;}

        .container_card {
        width: 40%;
        margin: 1em;}

        #imgCards_1 {
            background-image: url(/images/hebergements/3_medium/Auberge_la_Cannebiere.jpg);}

        #imgCards_2 {
            background-image: url(/images/hebergements/3_medium/Hôtel_du_port.jpg);}

        #imgCards_3 {
            background-image: url(/images/hebergements/3_medium/Hôtel_Les_mouettes.jpg);}

        #imgCards_4 {
            background-image: url(/images/hebergements/3_medium/Hôtel_de_la_mer.jpg);}

        #imgCards_5 {
            background-image: url(/images/hebergements/3_medium/Auberge_Le_panier.jpg);}

        #imgCards_6 {
        background-image: url(/images/hebergements/3_medium/Hôtel_chez_Amina.jpg);}
    /* HEBERGEMENT MARSEILLE */
    #linkMore {
        text-align: center;
        margin-top: 1.5em;
        font-size: 1.4em;}
/* SECTION ACCOMATIONS */


/* SECTION ACTIVITES */
    .row_title_activity {
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 2em;}

    #container_cardActivity {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;}

    .cardActivity {
    width: 40%;
    margin: 1em;}   







/* SECTION ACTIVITES */

 /* FOOTER */
 .row_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;}
/* FOOTER */
} 

/* DESKTOP */
@media screen and (min-width:1025px) {

    #blocPage {
        margin: 0% 3% 0% 3%;}

 /* HEADER */ 
    .row_header {
        flex-wrap: nowrap;
        margin-top: 0;}

    #container_logo {
        width: 70%;
        padding-top: 2em;}

    #container_register {
        order: 3;
        padding-top: 2em;}

    #container_ancres {
        width: 20%;
        margin-top: 0;}

    .ancres {
        text-align: center;
        width: 50%;
        border-bottom: none;
        padding-top: 3em;}

    .ancres:active {
        border-bottom: none;
        border-top: solid 2px #0065fc;}

    .ancres:hover {
        border-bottom: none;
        border-top: solid 2px #0065fc;}
 /* HEADER */

/* SECTION SEARCH */
    /* SEARCH BAR */
        .row_searchBar {
            width: 40%;}

        #iconeGPS {
            width: 6%;}

        #searchBar {
            width: 45%;}

        #inputSearch {
            width: 25%;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
            border-top-left-radius: 0em;
            border-bottom-left-radius: 0em;
            padding: 1em}

        #iconeSearch {
            display: none;}

        #wordSearch {
            display: initial;
            color: white;
            font-weight: bold;
            font-size: 1.2em;}
    /* SEARCH BAR */

    /* FILTERS BAR */
        .row_filtersBar {
            display: flex;
            flex-direction: row;
            align-items: center;}

        #title_filtersBar {
            width: 7%;} 

        #filters {
            width: 63%;}

        #filters ul {
        display: flex;
        flex-wrap: nowrap;}
    /* FILTERS BAR */

 /* SECTION ACCOMATIONS */
 .row_accomodations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
    
    /* HEBERGEMENTS MARSEILLE */
        .row_title_marseille {
        margin-left: 3%;}

        #container_marseille {
            order: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: #F2F2F2;
            border-radius: 1em;   
            width: 63%;
            padding-top: 1.5em;}

        .container_card {
        width: 30%;}

        #container_blockMarseille {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;}

        #imgCards_1 {
            background-image: url(/images/hebergements/2_large/Auberge_la_Cannebiere.jpg);}

        #imgCards_2 {
            background-image: url(/images/hebergements/2_large/Hôtel_du_port.jpg);}

        #imgCards_3 {
            background-image: url(/images/hebergements/2_large/Hôtel_Les_mouettes.jpg);}

        #imgCards_4 {
            background-image: url(/images/hebergements/2_large/Hôtel_de_la_mer.jpg);}

        #imgCards_5 {
            background-image: url(/images/hebergements/2_large/Auberge_Le_Panier.jpg);}

        #imgCards_6 {
            background-image: url(/images/hebergements/2_large/Hôtel_chez_Amina.jpg);}
    
        .nameCards {
            font-size: initial;}

        .priceCards {
            font-size: 0.9em;}
    /* HEBERGEMENT MARSEILLE */

    #linkMore {
    margin-left: 3%;}

    /* HEBERGEMENTS POPULAIRE */
        #container_popular {
            width: 28%;
            order: 2;
            border-radius: 1em; }

        #imgPopular_1 {
            background-image: url(/images/hebergements/2_large/Hôtel_Le_soleil_du_matin.jpg);}

        #imgPopular_2 {
            background-image: url(/images/hebergements/2_large/Au_coeur_de_l_eau_chambres_d_hotes.jpg);}

        #imgPopular_3 {
            background-image: url(/images/hebergements/2_large/Hôtel_Tout_bleu_et_Blanc.jpg);}
    /* HEBERGEMENTS POPULAIRE */
 /* SECTION ACCOMATIONS */


 /* SECTION ACTIVITES */
    .row_title_activity {
    margin-top: 3em;}

    #container_cardActivity {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 12em 2.5em 2.5em 10em;
        grid-column-gap: 2.5em;}

    #vieuxPort {
        grid-column: 1/2;
        grid-row: 1/5 ;}

    #fort {
        grid-column: 2/3 ;
        grid-row: 1/3;}

    #calanques {
        grid-column: 3/4 ;
        grid-row: 1/5 ;}

    #notreDame {
        grid-column: 4/5 ;
        grid-row: 1/2;}

    #frioul {
        grid-column: 2/3 ;
        grid-row: 4/5 ;}

    #longchamp {
        grid-column: 4/5;
        grid-row: 3/5 ;}   

    #container_cardActivity a {
        box-shadow: 1px 1px 10px 1px #ccc;
        border-radius: 1em;
        overflow: hidden;
        display: flex;
        flex-direction: column;}

    .imgActivity img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        max-height: none;}
    
    .imgActivity {
        position: relative;
        flex: 1;
        max-height: none;}
    
    .nameActivity {
            font-size: 1em;}    
 /* SECTION ACTIVITES */

 
 /* FOOTER */
 .row_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3%;
    width: 70%;}
/* FOOTER */
}